.container {
  padding: 16px 32px;
}

.board-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 16px;
}

.board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  align-items: start;
}

.task-list-header {
  text-align: center;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 5px 10px 2px #E0E0E0;
  background-color: #FAFAFA;
}

.task-list{
  margin-top: 16px;
}

.task-add{
  margin-top: 16px;
  padding: 4px;
  color : #1890ff;
  border: dashed 1px #1890ff;
  cursor: pointer;
}

.task-add:hover {
  background-color: #1890ff;
  color: #ffffff;
}


.modal-container {
  width: 30%;
  background-color: white;
  box-shadow: 0 5px 10px 10px #E0E0E0;
  position: absolute;
  left : 50%;
  top : 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
}

.modal-btns {
  margin-top: 16px;
  text-align: right;
}

.modal-btns > button {
  padding: 5px 16px;
  font-size: 0.8em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.done-btn {
  margin-left: 16px;
  background-color: #1890ff;
  color: #ffffff;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
}

.inp-title {
  padding: 10px 20px;
  margin-bottom: 16px;
}

.inp-description {
  resize: none;
}

input, textarea {
  border: 1px solid rgba(0, 0, 0, .1);
  font-size: 16px;
  border-radius: 5px; 
  padding: 10px 20px;
}
.modal-header {
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  border-bottom: #E0E0E0 solid 1px;
}

input:hover,
textarea:hover {
  border-color: #1890ff;
}

input:focus,
textarea:focus {
  border-color: #29B6F6;
}