.card {
  text-align: left;
  padding: 16px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 5px 25px 5px #E0E0E0;
  margin-top : 16px;
}

.card-number {
  color : #1890ff;
  font-weight: bold;
  margin-right: 4px;
}

.card-head-content {
  border-bottom: #E0E0E0 solid 1px;
  padding-bottom: 8px;
}

.card-date {
  float: right;

  color: #1890ff;
}

.card-description {
  color : #757575;
  margin: 8px;
  font-size: 0.9em;
}

.card-operations {
  text-align: right
}

.opt-btn {
  margin-top: 16px;
  padding: 3px 15px;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-right: 8px;
}

.edit-btn {
  background-color: #1890ff;
}

.delete-btn {
  background-color: #f5222d;
}

.addFilter {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #000000;
  opacity: 0.1;
  left: 0px;
  top: 0px;
}

.modal-container {
  width: 30%;
  background-color: white;
  box-shadow: 0 5px 10px 10px #E0E0E0;
  position: absolute;
  left : 50%;
  top : 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
}

.modal-btns {
  margin-top: 16px;
  text-align: right;
}

.modal-btns > button {
  padding: 5px 16px;
  font-size: 0.8em;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.done-btn {
  margin-left: 16px;
  background-color: #1890ff;
  color: #ffffff;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
}

.inp-title {
  padding: 10px 20px;
  margin-bottom: 16px;
}

.inp-description {
  resize: none;
}

input, textarea {
  border: 1px solid rgba(0, 0, 0, .1);
  font-size: 16px;
  border-radius: 5px; 
  padding: 10px 20px;
}
.modal-header {
  padding: 10px;
  text-align: center;
  font-size: 1.5em;
  border-bottom: #E0E0E0 solid 1px;
}

input:hover,
textarea:hover {
  border-color: #1890ff;
}

input:focus,
textarea:focus {
  border-color: #29B6F6;
}

.confirmBox {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 5px 10px 2px #E0E0E0;
  width: 300px;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confirm-option {
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.confirm-option:hover{
  color: #1890ff;
}

.confirm-del:hover{
  color: #f5222d;
}

.confirm-title{
  text-align: center;
  padding: 16px;
  border-bottom: #E0E0E0 solid 1px;
}
